img {
    width: auto;
    height: auto;
    border-radius: 50%;
}

#navbar {
    /* style the navbar */
    background-color: black;
    /* overflow: hidden; */
    margin: 0 auto;
    height: 80px;
}
#centernav{
    /* background-color: red; */
    margin: 0 auto;
    width: 790px;
}
#navcol1{
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-left: 10px;
    flex-wrap: nowrap;
}
#navcol2{
    /* background-color: green; */
    display: inline-flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-left: 300px;
    flex-wrap: nowrap;
}
#link a {
    /* style navbar contents */
    float: left;
    color: blanchedalmond;
    text-align: center;
    padding:  10px 10px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 17px;
}
#navbar h1{
    color: blanchedalmond;
}
#buttons button{
    padding:  14px 16px;
    background-color: rgb(4, 126, 182);
    color: white;
}
#pagename{
    /* display: inline-block; */
    float: left;
}


#mainbody{
    /* style main body */
    /* background-color: blue; */
    height: max-content;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content:center
}
#column1, #column2
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: space-between; */
}
#column1{
    overflow-y:scroll;
    margin-right: 10px;
    overflow-x: hidden;
}
#column2{
    float: left;
    margin-left: 10px;
}
#selfinfo{
    /* style personal profile info */
    background-color: red;
    width: 500px;
    height: 400px;
}
#education{
    /* style education info */
    margin-top: 50px;
    background-color: purple;
    width: 500px;
    height: 200px;
}
#education .InnerBody{
    width: fit-content;
    height: fit-content;
}
#connectionrequests{
    /* style connection requests */
    background-color: green;
    width: 250px;
    height: 200px;
}
#yourconnections{
    /* style personal connections */
    background-color: yellow;
    width: 250px;
    height: 200px;
    margin-top: 20px;
}
.TopColorBox{
    background-color: rgb(49, 49, 49);
    height: 50px;
    width: 100%;
}
#Blue{
    background-color: rgb(4, 126, 182);
    height: 100px;
}
#avatar img{
    margin-left: 30px;
    float: left;
    width: 120px;
    height: auto;
    position: absolute;
    transform: translateY(40px);
}